<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Tornado form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/custom.css" />
        <script src="/static/js/jquery.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>
                    Trial project
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-6">
                {% try %}
                    {% if status != None %}
                    <div class="panel {{ status['panel_class'] }}">
                        <div class="panel-heading">
                            {{ status['panel_heading'] }}
                        </div>
                        <div class="panel-body">
                            {{ status['panel_body'] }}
                        </div>
                    </div>
                    {% end %}
                {% except %}
                {% end %}
                    <form action="/" method="post" class="labels-new-line">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" maxlength="32" />
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <p class="error"></p>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email address" maxlength="128" />
                        </div>

                        <button id="send-button" class="btn btn-success">Add to database</button>
                    </form>
                </div>
            </div>

            <footer>
                <a href="http://appsmasters.eu/">AppsMasters.eu</a>
            </footer>
        </div>
        <script src="/static/js/requirejs/require.js">
        </script>
        <script src="/static/js/email-validation.js">
        </script>
    </body>
</html>